<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working with Vue</title>

    <link rel="stylesheet" href=css/main.css>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <main id="app">
        <section class="lightbox-con" :class="{'lightbox-con-disabled':showLightbox}">
            <lightbox v-on:show-mini="showMiniData" :lightbox-mini-data="currentMiniData"></lightbox>
        </section>
        <section id="topBar"><h1 class="hidden" @click="clickHeader">{{ message }}</h1></section>
        <div class="center"><h2 class="hidden">{{anotherMessage}}</h2></div>
        <div class="errorContainer" :class="{'errorContainer-hidden':errorMessageNotDisplayed}">{{ errorMessage }}</div>
        <!-- show the prof data in profs array -->
        <ul class="center">
            <!-- this is a custom Vue component defined in main.js -->
            <div class="mini-container">
                <mini-data v-for="mini in cars" :mini="mini" :key="mini.id" class="mini-data" v-on:show-mini="showMiniData"></mini-data>
            </div>
            <!-- <li v-for="mini, index in cars">
                <p>Prof Name: mini.name }}, Role: {{ mini.role }}</p>
            
                <a href="" class="remove-mini" @click.prevent="showMiniData(mini)" :class="{'mini-button-modifier' : removeAformat}">Show {{ mini.name}}'s info</a> 
                
                <a href="" class="remove-mini" @click.prevent="removemini(index)" :class="{'mini-button-modifier' : removeAformat}">Remove {{ mini.name}}</a>
            </li> -->
        </ul>

        <!-- show more section -->
        <section class="bio-data" :class="{'show-bio' : showBioData}">
            <h1>{{ currentMiniData.Model }}</h1>
            <h2> {{ currentMiniData.Type }}</h2>
        </section>
    </main>
</body>

<script src="js/main.js" type="module"></script>
</html>