footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(5, 4, 24);
    width: 100%;
    text-align: end;
    box-sizing: border-box;
    
    @include addPadding(10px);

    color: white;
}

