.lightbox-con {
    width: 100%;
    height: 100vh;
    margin-bottom: -100vh;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    backdrop-filter: blur(3px);
}

.lightbox-con-disabled {
    display: none;
    pointer-events: none;
}

.mini-info {
    background-color: white;
    padding: 3em;
    border-radius: 1em;
}